.reset_password
  %h2 Reset Password 
  - if flash[:error]
    .error= h flash[:error]
  - form_tag password_resets_path, :method => :post do
    %table
      %tr
        %td
          %label Email Address
        %td= text_field_tag :email
      %tr
        %td
        %td= submit_tag "Reset Your Password"