%h2 Article Management: Matching Published Articles
%p Detailed below are the articles matching your search criteria
%table
  - @articles.each do |article|
    %tr{:class => cycle('odd','even')}
      - if article.can_be_edited_by?(current_user)
        %td= link_to 'edit',[:edit, article]
      %td
        = link_to article.title, article
        %br
        = h article.abstract
      - if article.can_be_edited_by?(current_user)
        %td visible
        %td= link_to 'Delete', article, :method => 'delete'
        