form, h2, p {
  color: #035881; }

table {
  border-spacing: 4px;
  font-size: 12px; }
  table th {
    text-align: left; }
  table tr.odd td {
    background-color: #D6ECC6; }
  table tr.even td {
    background-color: #DCF2FC; }
  table td, table th {
    padding: 4px;
    vertical-align: top;
    line-height: 25px; }
    table td #user_comments, table th #user_comments {
      height: 50px; }

input[type=submit], input[type=reset] {
  background-color: #3ea8da;
  border: 0;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: right;
  text-transform: uppercase;
  background-image: url(/images/blue.jpg);
  -webkit-box-shadow: 2px 2px 2px #888; }

.sidebar {
  float: left;
  width: 200px;
  background-color: #96D56C;
  margin: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .sidebar ul li {
      border-bottom: 1px solid white;
      padding: 5px;
      color: #035881;
      font-size: 10px;
      position: relative;
      padding-left: 15px;
      background-image: url(../images/arrow.jpg);
      background-position: 95% 50%;
      background-repeat: no-repeat; }
      .sidebar ul li ul {
        position: absolute;
        top: 0;
        left: 200px;
        width: 200px;
        background-color: #96D56C; }
        .sidebar ul li ul li {
          background-image: none; }
    .sidebar ul li#logout {
      text-align: right;
      padding-top: 15px;
      padding-bottom: 30px;
      border: none;
      background-image: none; }
      .sidebar ul li#logout a {
        display: block;
        padding: 5px;
        background-color: #3ea8da;
        border: 0;
        color: white;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        float: right;
        text-transform: uppercase;
        background-image: url(/images/blue.jpg);
        -webkit-box-shadow: 2px 2px 2px #888;
        text-decoration: none; }

form.new_user_session {
  margin: 40px auto;
  background-color: #96D56C;
  overflow: auto;
  width: 300px;
  height: 200px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  form.new_user_session h2 {
    color: white;
    background-color: #006EAD;
    font-size: 11pt;
    padding: 2px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase; }
  form.new_user_session label, form.new_user_session input[type=text], form.new_user_session input[type=password] {
    float: left;
    width: 125px; }
  form.new_user_session label {
    clear: left;
    width: 100px; }
  form.new_user_session input[type=submit] {
    clear: left;
    float: left; }

.header {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: top-left;
  padding-bottom: 10px; }
  .header h1 {
    background-image: url(../images/cello-logo.jpg);
    height: 125px;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    background-position: top right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #96d56C; }

.container {
  background-image: url(../images/blue.jpg);
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 13px; }

body, td, h2 {
  font-family: verdana,arial,helvetica; }

body {
  font-size: 12px; }

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; }

.main {
  float: left; }
