form, h2, p, h3 {
  color: #035881; }

table {
  border-spacing: 4px;
  font-size: 12px; }
  table th {
    text-align: left; }
  table tr.odd td {
    background-color: #D6ECC6; }
  table tr.even td {
    background-color: #DCF2FC; }
  table td, table th {
    padding: 4px;
    vertical-align: top;
    line-height: 25px; }
    table td #user_comments, table td #quote_notes, table th #user_comments, table th #quote_notes {
      height: 50px; }

input[type=submit], input[type=reset] {
  background-color: #3ea8da;
  border: 0;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: right;
  text-transform: uppercase;
  background-image: url(/images/blue.jpg);
  -webkit-box-shadow: 2px 2px 2px #888; }

form#new_quote input[type=reset] {
  float: none; }

tbody {
  padding: 0;
  margin: 0; }

.sidebar {
  float: left;
  background-color: #96D56C;
  margin: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 200px; }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px; }
    .sidebar ul li {
      border-bottom: 1px solid white;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #035881;
      font-size: 10px;
      position: relative;
      background-image: url(../images/arrow.png);
      background-position: 95% 50%;
      background-repeat: no-repeat;
      text-indent: 15px; }
      .sidebar ul li ul {
        display: none;
        position: absolute;
        top: 0;
        left: 200px;
        width: 200px;
        background-color: #96D56C;
        border-left: 1px solid white;
        border-right: 1px solid white; }
        .sidebar ul li ul li {
          background-image: none;
          background-color: #2C9DD4;
          font-weight: normal;
          color: white;
          text-indent: 15px; }
    .sidebar ul li.active {
      background-color: #c6c6c6;
      font-weight: bold;
      color: #035881; }
      .sidebar ul li.active a {
        color: #035881; }
      .sidebar ul li.active li a {
        color: white; }
      .sidebar ul li.active li.active a {
        color: #035881; }
      .sidebar ul li.active ul {
        display: block;
        border-top: 1px solid white; }
    .sidebar ul a {
      text-decoration: none; }
    .sidebar ul a:hover {
      text-decoration: underline; }
  .sidebar #logout {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 30px;
    border: none;
    background-image: none;
    padding-right: 5px; }
    .sidebar #logout a {
      display: block;
      padding: 5px;
      background-color: #3ea8da;
      border: 0;
      color: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      float: right;
      text-transform: uppercase;
      background-image: url(/images/blue.jpg);
      -webkit-box-shadow: 2px 2px 2px #888;
      text-decoration: none; }

form.new_user_session {
  margin: 140px auto;
  background-color: #96D56C;
  overflow: auto;
  width: 500px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  form.new_user_session h2 {
    color: white;
    background-color: #006EAD;
    background-image: url(../images/blue.jpg);
    font-size: 18px;
    padding: 2px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px; }
  form.new_user_session table {
    margin: 0 auto;
    text-align: right; }
  form.new_user_session a {
    color: white;
    text-decoration: none;
    display: block; }
    form.new_user_session a:hover {
      text-decoration: underline; }
  form.new_user_session input[type=submit] {
    float: none;
    padding: 6px; }

.header {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-bottom: 10px; }
  .header h1 {
    background-image: url(../images/cello-logo.jpg);
    height: 125px;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    background-position: top right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #96d56C; }

.container {
  background-image: url(../images/blue.jpg);
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 13px; }

.footer {
  clear: left;
  border-top: 1px solid #96d56C;
  color: #035881;
  text-align: right;
  padding: 5px;
  line-height: 30px;
  vertical-align: middle; }
  .footer a img {
    border: none;
    vertical-align: middle; }

.pagination {
  background-image: url(../images/green.jpg);
  float: right;
  color: white;
  height: 20px;
  line-height: 20px;
  padding: 0px 4px;
  margin-top: 40px;
  margin-bottom: 10px; }
  .pagination .prev_page, .pagination .next_page {
    text-transform: uppercase; }
  .pagination a {
    color: white;
    text-decoration: none; }
    .pagination a:hover {
      text-decoration: underline; }

#customer_select {
  float: left; }
  #customer_select input, #customer_select select {
    display: block;
    padding: 0; }
  #customer_select select {
    height: 200px; }
  #customer_select input[type=submit] {
    margin: 5px;
    padding: 5px; }

.errorExplanation {
  padding: .8em;
  margin: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  .errorExplanation p, .errorExplanation h2 {
    color: #8a1f11; }

.fieldWithErrors input,
.fieldWithErrors select {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }

.fieldWithErrors label, .formError {
  color: #8a1f11; }

.fieldWithErrors label {
  font-weight: bold; }

body, td, h2 {
  font-family: verdana,arial,helvetica; }

body {
  font-size: 12px; }

h1, h2, h3, h4, h5 {
  font-size: 14px; }

body {
  margin: 10px;
  padding: 0;
  background-color: #FFFFFF; }

.main {
  float: left; }

p {
  width: 500px; }

table th {
  text-transform: uppercase;
  color: #035881;
  font-family: 'Arial';
  line-height: 12px; }
table td {
  color: #035881; }
  table td a {
    color: #409904;
    text-decoration: none; }
    table td a:hover {
      text-decoration: underline; }

.clear {
  clear: both; }
