%h1 User management: Edit User
%p Please select from the options below to edit a user's details.
%table
  %tr
    %th Find User
    %th
  %tr
    %td First Name
    %td
  %tr
    %td Last Name
    %td
  %tr
    %td Username
    %td
  %tr
    %td
    %td Find User