- form_for @search, :url => users_path do |f|
  %h2 User management: Edit User
  %p Please select from the options below to edit a user's details.
  %table
    %tr
      %th Find User
      %th
    %tr.odd
      %td First Name
      %td= f.text_field :FirstName_begins_with
    %tr.even
      %td Last Name
      %td= f.text_field :LastName_begins_with
    %tr.odd
      %td Username
      %td= f.text_field :Username_begins_with
    %tr
      %td
      %td= f.submit "Find User"