.load_data
  %h2 Load Pricing Data
  %p Please select a Pricing Data file to be loaded. The file must be formatted as an unquoted Comma Separated Values (CSV) file. with the following fields:

  %table
    %tr
      %th Name
      %th Value
    %tr.even
      %td Price Schedule 
      %td Text
    %tr.odd
      %td Grade
      %td Text
    
    %tr.even
      %td Grade ID
      %td Alphanum (6)
    %tr.odd
      %td Subgrade
      %td Alphanum (6)
    %tr.even
      %td Calliper
      %td integer
    %tr.odd
      %td GSM
      %td integer
    %tr.even
      %td Break
      %td integer
    %tr.odd
      %td Price
      %td decimal
    %tr.even
      %td Price type
      %td Int
  %p The current date will automatically be added to each record inserted.
  %p 
    Please ensure that if you are saving the file from MS Excel, that
    %strong no
    thousands separator is specified in the number formats, as this will cause the import to fail.
  %p Price Line Names & Grade Abbreviations will automatically e added to the Price Lines table if the Price Lines table does not contain them
  - form_for Price.new, :url => upload_prices_path, :html => {:multipart => true} do |f|
    %p= f.file_field :data
    %p= f.submit 'Submit'