%h2 Load Reel Data
%p Please select a Reel Data file to be loaded. This file must be formatted as a Comma Separated Values (CSV) file, with the following fields
%table
  %tr
    %th Name
    %th Value
  %tr.odd
    %td Grade
    %td Varchar (100)
  %tr.even
    %td Grade ID
    %td Varchar(20)
  %tr.odd
    %td Subgrade
    %td Varchar (20)
  %tr.even
    %td Calliper
    %td integer
  %tr.odd
    %td GSM
    %td integer
  %tr.even
    %td Reel Size
    %td integer
%p The current date will automatically be added to each record inserted.
%p If a record exists, the timestamp of that record will be updated to the current date
- form_for Reel.new, :url => upload_reels_path, :html => {:multipart => true} do |f|
  = f.file_field :data
  = f.submit 'Submit'